---
layout: base
---

{% assign basenames = page.name | split: '.' %}
{% assign basename = basenames[0] %}
<!-- 这里开始是您的自定义内容 -->
<!-- 这里可以加入特定于此布局的 HTML 结构和内容 -->
<div class="container mt-3">
    <h1>{{ page.collection }}/{{ page.title }}</h1>

    <div class="alert alert-info" role="alert">
        <h2 class="alert-heading">Sequence Information</h2>
        <p>Duration: MM: SS</p>
        <p>Cameras: 30</p>
    </div>


    <div class="row">
        <div class="col-md-3 video-wrapper">
            <video id="video1" controls loop class="w-100">
                <source src="../../dataset/{{ page.collection }}/{{ page.title }}/videos/01.mp4" type="video/mp4">
            </video>
        </div>
        <div class="col-md-3 video-wrapper">
            <video id="video2" controls loop class="w-100">
                <source src="../../dataset/{{ page.collection }}/{{ page.title }}/videos/04.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="d-flex justify-content-center" id="vis3d">

    </div>
    <div class="mt-3">
        <h2>License</h2>
        <p>This data must be used for academic purposes only. By using the dataset, you agree to cite at least one of the following papers.</p>
        <!-- 引用的论文列表 -->
    </div>

</div>

<script type="importmap">
    {
        "imports": {
            "three": "../../static/three/three.module.js",
            "three/addons/": "../../static/three/jsm/"
        }
    }
</script>

<script type="module">

    import * as THREE from 'three';

    import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
    import { BVHLoader } from 'three/addons/loaders/BVHLoader.js';

    import { getChessboard, getCoordinate } from '../../scripts/create_ground.js';
    import { loadAllKeypoints3d } from '../../scripts/load_keypoints3d.js';
    import { visualizeSkeleton } from '../../scripts/draw_skeleton.js';
    import { playAllVideos, resetAllVideos } from '../../scripts/control_videos.js';

    const clock = new THREE.Clock();

    let camera, controls, scene, renderer;
    let mixer;
    let center = [0, 0, 0];
    init();

    const TotalFrames = 300;
    loadAllKeypoints3d("{{ page.collection }}/{{ page.title }}", TotalFrames).then(data => {
        console.log('All data loaded:', data);
        let currentFrame = 0;
        let direction = 1; // 1 表示向前播放，-1 表示回播
        const intervalTime = 33.33; // 每帧之间的时间间隔，单位毫秒
        // play videos
        playAllVideos();
        const playFrames = () => {
            visualizeSkeleton(data[currentFrame][0]['keypoints3d'], scene);
            // 更新下一帧索引
            currentFrame += direction;

            // 检查是否到达第一帧或最后一帧
            if (currentFrame === TotalFrames || currentFrame === -1) {
                currentFrame = 0; // 重播
                resetAllVideos();
            }
        };

        // 开始循环播放
        const intervalId = setInterval(playFrames, intervalTime);
        animate();
    });

    function init() {
        // const width = window.innerWidth;
        const width = document.querySelector('.container').offsetWidth;
        const height = width * 9 / 16;
        camera = new THREE.PerspectiveCamera( 60, width / height, 1, 1000 );
        camera.position.set(0, -3, 3); // 将相机放置在正Z轴方向，朝向原点
        camera.up.set(0, 0, 1); // 将相机的上方设为Z轴的正方向
        camera.lookAt(0, 0, 1.5); // 让相机朝向场景的原点

        scene = new THREE.Scene();
        scene.background = new THREE.Color( 0xeeeeee );

        var plane = getChessboard();
        scene.add(plane);

        var coord = getCoordinate(1);
        scene.add(coord);

        // 在场景中添加一个光源
        // 添加太阳光（方向光）
        const directionalLight = new THREE.DirectionalLight(0xffffff, 10); // 白色光源，强度为1
        directionalLight.position.set(0, 0, 3); // 设置光源位置
        scene.add(directionalLight);

        // renderer
        renderer = new THREE.WebGLRenderer( { antialias: true } );
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize( width, height );
        var container = document.getElementById('vis3d');
        container.appendChild( renderer.domElement );

        controls = new OrbitControls( camera, renderer.domElement );
        controls.minDistance = 1;
        controls.maxDistance = 10;

        window.addEventListener('resize', onWindowResize );
    }

    function onWindowResize() {
        const width = document.querySelector('.container').offsetWidth;
        const height = width * 9 / 16;

        camera.aspect = width / height;
        camera.updateProjectionMatrix();
        renderer.setSize( width, height );
    }

    function animate() {
        requestAnimationFrame( animate );
        renderer.render( scene, camera );
    }
</script>